/*
 Theme Name:   Cacheonium
 Theme URI:
 Description:  Cache Makers Wordperss Theme
 Author:       Nick Benoit
 Author URI:
 Template:     morningtime-lite
 Version:      1.0.0
 Tags:         cacheonium
 Text Domain:
*/
/* line 21, assets/sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Center Page Body */
/* line 22, assets/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* line 23, assets/sass/style.scss */
p {
  text-align: center;
  color: #7b7b7b;
}

/* line 25, assets/sass/style.scss */
.cachemakers-content {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
}

/* line 29, assets/sass/style.scss */
.cachemakers-people {
  text-align: center;
}
/* line 31, assets/sass/style.scss */
.cachemakers-people .cachemakers-peopleblock {
  display: inline-block;
  padding: 3%;
  vertical-align: top;
}
/* line 35, assets/sass/style.scss */
.cachemakers-people .cachemakers-peopleblock .people-text {
  padding-top: 10%;
  text-align: left;
}
/* line 38, assets/sass/style.scss */
.cachemakers-people .cachemakers-peopleblock .people-text p {
  font-weight: 600;
  text-align: left;
  margin: 0%;
}
/* line 39, assets/sass/style.scss */
.cachemakers-people .cachemakers-peopleblock .people-text .sub-title {
  font-weight: 100;
}

/* line 44, assets/sass/style.scss */
.cachemakers-thingsWeDo {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #cccccc;
  opacity: 1;
}
/* line 46, assets/sass/style.scss */
.cachemakers-thingsWeDo p {
  display: none;
}
/* line 47, assets/sass/style.scss */
.cachemakers-thingsWeDo:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: .5;
}

/* Fix builtin theme slider button */
/* line 55, assets/sass/style.scss */
.slider-home .flex-direction-nav a {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  background: #ffffff;
  box-sizing: content-box;
  background-clip: content-box;
  font-size: 31px;
  color: #d95204;
  line-height: 60px;
  text-align: center;
}
