/*
 Theme Name:   Cacheonium
 Theme URI:
 Description:  Cache Makers Wordperss Theme
 Author:       Nick Benoit
 Author URI:
 Template:     morningtime-lite
 Version:      1.0.0
 Tags:         cacheonium
 Text Domain:
*/
/* line 13, assets/sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Center Page Body */
/* line 14, assets/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* line 15, assets/sass/style.scss */
p {
  text-align: center;
}

/* line 17, assets/sass/style.scss */
.cachemakers-people {
  text-align: center;
}
/* line 20, assets/sass/style.scss */
.cachemakers-people .cachemakers-peopleblock {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 1%;
  box-shadow: 4px 4px 2px gray;
  overflow: hidden;
}

/* Fix builtin theme slider button */
/* line 32, assets/sass/style.scss */
.slider-home .flex-direction-nav a {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  background: #ffffff;
  box-sizing: content-box;
  background-clip: content-box;
  font-size: 31px;
  color: #d95204;
  line-height: 60px;
  text-align: center;
}
