/*
 Theme Name:   Cacheonium
 Theme URI:
 Description:  Cache Makers Wordperss Theme
 Author:       Nick Benoit
 Author URI:
 Template:     morningtime-lite
 Version:      1.0.0
 Tags:         cacheonium
 Text Domain:
*/
/* line 13, assets/sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Center Page Body */
/* line 14, assets/sass/style.scss */
h1 h2 h3 h4 h5 {
  text-align: center;
}
