/*
 Theme Name:   Cacheonium
 Theme URI:
 Description:  Cache Makers Wordperss Theme
 Author:       Nick Benoit
 Author URI:
 Template:     cacheonium
 Version:      1.0.0
 Tags:         cacheonium
 Text Domain:
*/

.center{margin-left:auto; margin-right:auto; float:none;} /* Center Page Body */
h1,h2,h3,h4,h5,h6 {text-align:center;}
p{text-align:center;}

/* Fix builtin theme slider button */
.slider-home .flex-direction-nav a {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  background: #ffffff;
  box-sizing: content-box;
  background-clip: content-box;
  font-size: 31px;
  color: #d95204;
  line-height: 60px;
  text-align: center; }
