/*
 Theme Name:   Cacheonium
 Theme URI:
 Description:  Cache Makers Wordperss Theme
 Author:       Nick Benoit
 Author URI:
 Template:     morningtime-lite
 Version:      1.0.0
 Tags:         cacheonium
 Text Domain:
*/


@mixin button-fade($duration){
  -webkit-transition: all $duration ease-in-out;
     -moz-transition: all $duration ease-in-out;
      -ms-transition: all $duration ease-in-out;
          transition: all $duration ease-in-out;
}

.center{margin-left:auto; margin-right:auto; float:none;} /* Center Page Body */
h1,h2,h3,h4,h5,h6 {text-align:center;}
p{text-align:center; color:#7b7b7b;}

.cachemakers-content{
  margin-left:10%; margin-right:10%; padding-bottom:2%;
}

.cachemakers-people{
  text-align:center;
  .cachemakers-peopleblock{
    display:inline-block;
    padding:3%;
    vertical-align:top;
    .people-text{
      padding-top:10%;
      text-align:left;
      p{font-weight:600; text-align:left; margin:0%;}
      .sub-title{font-weight:100;}
    }
  }
}

.cachemakers-thingsWeDo{
  display:inline-block; height:200px; width:200px; background-color:#020202; opacity:1;
  &:hover{
    @include button-fade(.2s);
    opacity:.5;
  }
}


/* Fix builtin theme slider button */
.slider-home .flex-direction-nav a {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  background: #ffffff;
  box-sizing: content-box;
  background-clip: content-box;
  font-size: 31px;
  color: #d95204;
  line-height: 60px;
  text-align: center; }
